@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="container">
        <h1 class="text-center">About TaskMaster</h1>
        <div class="d-flex justify-content-center">
            <img class="text-center" src="/assets/task-mgnt.png" alt="TaskMaster Logo" class="img-fluid mb-4"
                style="border-radius: 100%;">
        </div>
        <p>TaskMaster is a powerful task management tool designed to help individuals and teams stay organized and
            productive. Our platform offers a range of features to streamline your workflow, including task creation,
            prioritization, deadlines, and collaboration.</p>

        <h2 class="text-center mt-8">Our Mission</h2>
        <p>To empower individuals and teams to achieve their goals by providing a simple, efficient, and user-friendly
            task management solution.</p>

        <h2 class="text-center mt-8">Our Vision</h2>
        <p>To become the leading task management platform, trusted by users worldwide for its reliability, innovation,
            and exceptional user experience.</p>

        <h2 class="text-center mt-8">Our Values</h2>
        <ul>
            <li>Efficiency</li>
            <li>Innovation</li>
            <li>Collaboration</li>
            <li>User-Friendliness</li>
        </ul>

        <h2 class="text-center mt-8">Meet Our Team</h2>
        <div class="row">
            <div class="col-md-4">
                <img src="@Url.Content("~/assets/male1.jpeg")" alt="John Doe" class="img-fluid" style="height: 200px;">
                <h4>John Doe</h4>
                <p>Co-Founder and CEO</p>
                <p>John is a seasoned software engineer with a passion for building innovative tools. He leads the
                    development team and oversees the overall direction of TaskMaster.</p>
            </div>
            <div class="col-md-4">
                <img src="/assets/female.jpg" alt="Jane Smith" class="img-fluid" style="height: 200px;">
                <h4>Jane Smith</h4>
                <p>UI/UX Designer</p>
                <p>Jane is a talented designer responsible for creating intuitive and visually appealing interfaces for
                    TaskMaster.</p>
            </div>
            <div class="col-md-4">
                <img src="/assets/male2.jpeg" alt="Alex Lee" class="img-fluid" style="height: 200px;">
                <h4>Alex Lee</h4>
                <p>Marketing Manager</p>
                <p>Alex drives TaskMaster's marketing efforts and ensures that our product reaches the right audience.
                </p>
            </div>
        </div>

        <h2 class="text-center mt-8">Our Story</h2>
        <p>TaskMaster was founded in [Year] with the goal of providing a more efficient and effective task management
            solution. Since then, we have grown into a leading platform trusted by users worldwide.</p>
    </div>
</div>
